.login {
  /**these two propery alight login content to center*/
  display: grid;
  place-items: center;
  height: 100vh; /**this I need to understand why?*/
  background-color: black;
}

.login > img {
  width: 100%; /**we use percentage tbecuase diffrent cient will have different size of browser*/
}

.login > a {
  padding: 20px; /*rember this creat space within my component it is extreamely powerful*/
  background-color: #1db954;
  border-radius: 99px;
  color: white;
  font-weight: 800;
  text-decoration: none; /*to remove underline from my hiperlink**/
}
